*{
	margin: 0;
	padding: 0;
	font-family: 'poppins' , sans-serif;
	box-sizing: border-box;
}

body{
	background: #efefef;
}

nav{
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #9053c7;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
	padding: 5px 5%;
	position: sticky;
	top: 0;
	z-index: 100;

}

.logo{
	margin-right: 10px;
}


.nav-left,nav-right {
	display: flex;
	align-items: center;

}

.nav-left ul li{
	list-style: none;
	display: inline-block;
}

.nav-left a{
	float: left;
	color: #f2f2f2;
	text-align : center;
	padding: 14px 8px;
	text-decoration: none;
	font-size:17px; 

}
.nav-left a:hover {
  color: black;
}

.nav-user-icon img{   
	width: 60px;
	border-radius: 50%;
	cursor: pointer;
}

.container{
	display: flex;
	justify-content: space-between;
	padding: 13px 5%;
}

.left-sidebar{
	background: #cbdffa;
	flex-basis: 25%;
	position: sticky;
	top: 70px;
	align-self: flex-start;
	background: #fff;
	padding: 20px;
	border-radius: 4px;
	color: #626262;


}

.right-sidebar{
	
	flex-basis: 25%;
	position: sticky;
	top: 70px;
	align-self: flex-start;
	background: #fff;
	padding: 20px;
	border-radius: 4px;
	color: #626262;


}

.main-content{
	flex-basis: 47%;

}

.sidebar-title{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 18px;
}

.sidebar-title h4{
	font-weight: 600;
	font-size: 16px;
}
.sidebar-title a{
	text-decoration: none;
	color: #1876f2;
	font-size: 12px;
}

.event{
	display: flex;
	font-size: 14px;
	margin-bottom: 20px;
}

.left-event{
	border-radius: 10px;
	height: 65px;
	width: 65px;
	margin-right: 15px;
	padding-top: 10px;
	text-align: center;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0,0.1);

}
.left-event span{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #1876f2;
	color: #fff;
	font-size: 10px;
	padding: 4px 0;

}

.write-post-container{
	width: 100%;
	background: #fff;
	border-radius: 6px;
	padding: 20px;
	color: : #626262;

}

.user-profile{
	display: flex;
	align-items: center;
}

.user-profile img{
	width: 45px;
	border-radius: 50%;
	margin-right: 10px;

}

.user-profile p{
	margin-bottom: -5px;
	font-weight: 500;
	color: #626262;
}

.post-input-container{
	padding-left: 55px;
	padding-top: 20px;
}

.post-input-container textarea{
	width:100%;
	border: 0;
	outline: 0;
	border-bottom: 1px solid #ccc;
	background: transparent;
	resize: none;
}	

.add-post-links{
	display: flex;
	margin-top: 10px;

}

.add-post-links a{
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #626262;
	margin-right: 30px;
	font-size: 13px;

}	


.add-post-links img{
	width: 20px;
	margin-right: 10px;

}

.post-container{
	width: 100%;
	background: #fff;
	border-radius: 6px;
	padding: 20px;
	color: #626262;
	margin: 20px 0;
}

.user-profile span{
	font-size: 13px;
	color: #9a9a9a;

}

.post-text{
	margin: 15px 0;
	font-size: 15px;
}

.post-text span{
	color: #626262;
	font-weight: 500;
}

.post-img{
	width: 100%;
	border-radius: 4px;
	margin-bottom: 5px;
}

